*{
   
 
     /* border: 1px solid black; */
     font-family: Arial, Helvetica, sans-serif;

  
    
}

body{
    background-color: #68C37C;
    
}
#calc-container{ 
  display:flex;
  justify-content: center;
  background-color: #FFFFFF;

}

#titulo-imc{
  display: flex;
  justify-content: center;
color: white;
font-size: 25px;
padding-top:5px;
padding-bottom: 5px;


}

#barra-menu{
  height: 65px;
    padding: 10px;
    display: flex;
   margin: auto;
   justify-content: space-between;
}

#barra-menu h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFFFE;

}

ul li{
    display: inline-block;
    margin: 10px;
    
}
ul li a{
    text-decoration: none;
    color: #FEFFFE;
    font-weight: bold;
}

main{
   text-align: center;
   
}
figure{
    display: inline-block;
    position: relative; 
}
figure figcaption {
    position: absolute;
    top: 120px;
    right: 20px;
    font-size: 40px;
   color: #68C37C;  
   font-family: 'i';
  }

  #nossa-filosofia figcaption {
bottom: 100px;

justify-content:baseline;
 font-weight: bold;
   color: #367f46;
   text-shadow: 2px 2px 2px rgba(160, 160, 160, 0.373);
  font-size: 25px;
  } #nossa-filosofia figcaption p {
   color: #367f46;
   font-weight: bolder;
  padding-top: 20px;
      }







  figcaption{
    text-align: left;
    left: 50px;
  }
figcaption p{
    position: absolute;
    display: block;
    text-align: center;
    justify-content: center;
    color: #FEFFFE;
    text-align:justify;
    font-size: 20px;
   width: 600px; 
   
   
}
figcaption h1{
  
 color: #68C37C;  
 font-size: 40px;
 margin-bottom: 30px;
 
}
article{
    color: #FEFFFE;
  
   
    
   

    
  
}
article h2{
    font-weight: bold;
   font-size: 30px;
   padding: 25px;
  
}

article p{
    font-size: 18px;
    padding: 30px;
 }



 .card-time{
    padding-top: 20px;
    border-bottom: none;
 }
 .card-time h2{
   margin-bottom:40px;

 }

  footer{
    height: 40px;
    padding: 3px;
    color: #FEFFFE;
    text-align: center;
  }


#result{
  background-color: hsl(19, 100%, 50%);
  width: 200px;
  padding: 5px;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: bold;
}

.info{
  
 width: 150px;
  border-radius: 8px;
  text-align: center;
  
 

}

#limpar{
  margin: 10px;
  border-radius: 15px;
  padding: 6px;
  background-color: #FF5202;
  color: white;
  padding: 5 15px;
  margin-bottom: 0;
}
#calcular{
  margin: 10px;
  border-radius: 15px;
  padding: 6px;
  background-color:#1F5EAF;
  color: white;
  margin-bottom: 0;
}

.botoes {
width: 130px;
border: none;
}






#texto-tabela{
  font-weight: bold;
  font-size: 11px;
  background-color: #1F5EAF;
  padding: 10px;
  border-radius: 7px;
  color: white;
 
}




form{

width: 1200px;


}

section#calc-container{
height:430px;
}
#container-calc{
  
 font-size: 12px;
  display:flex;
  align-items: center;
  text-align: center;
 
  justify-content: center;
 
}

#container-calc div{
 padding: 10px;
margin:0 20px;
  
 }
 #container-calc div input{
  font-weight: bolder;

font-size: 16px;
   
  }

label{
  display: block;

}
input{
  display: block;
 

}
button{
  display: block;
 
}


.info{
  display: flex;
  text-align: center;
  margin: 3px;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}



